# do-nothing default config for haproxy
# Bob Webber, PLM, 2015-10-16
global
       log /dev/log    local0
       log /dev/log    local1 notice
       chroot /var/lib/haproxy
       # stats socket /run/haproxy/admin.sock mode 660 level admin
       stats timeout 30s
       user haproxy
       group haproxy
       daemon

defaults
       log     global
       mode    http
       option  httplog
       option  dontlognull
        timeout connect 500
        timeout client  500
        timeout server  500

frontend http
        bind *:80
        redirect code 301 prefix https://user-demo.patientslikeme.com

